<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Start-Out </title>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/d3/d3.min.js"></script>
    
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">

  </head>
    
  <body>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <h2><a class="navbar-brand" href="/">Start-Out</a></h2>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav navbar-left">
          {% if user.is_authenticated %}
          <a href="/allocator/api">API</a>
          <div>{{user}}</div>
          <div><a href="/allocator/logout/">Logout</a></div>
          {% endif %}
        </div
        <div class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li class="active"><a href="/allocator/register">Register <span class="sr-only">(current)</span></a></li>
            
            <li><a href="/allocator/login">Login</a></li>
          {% endif %}
            
        </div>        
          
          </li>
         </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </body>
</html>