<!DOCTYPE html>

<html>
    {% include 'allocator/base.html' %}

    <body>

	<div>
		{% if user.is_authenticated %}
			<h3>Create Project</h3>
  			<form method = "POST" action = {% url 'created' %}>
  				{% csrf_token %}
  				<table>
	    		<tr><td>Project Name</td><td><input type="text" name="projectname" value="" required></td></tr>
	    		<tr><td>Project Logo</td><td><input type="text" name="project_logo" value=""required></td></tr>
	    		<tr><td>Description</td><td><input type="text" name="description" value = ""required></td></tr>
	    		<tr><td>Category</td><td><input type="text" name="category" value = ""required></td></tr>
	    		<tr><td>Skill Requirements</td><td><input type="text" name="skills_reqd" value = ""required></td>
	    		</tr>
	    		<tr><td>Educational Requirements</td><td><input type="text" name="edu_background_reqd" value = ""required></td></tr>
	    		<tr><td>Payment</td><td><input type="text" name="payment" value = ""required></td></tr>
	    		<input type = 'hidden' name = 'userid' value = {{user.id}} >

	    		</table>
	    		<h3>Nominate a manager</h3>
	    		{% for member in members %}
					<input type= "radio" name = "manager" value = {{member.id}}> {{member}} <br>
				{% endfor %}

	    		<h3>Add members for your project</h3>
	    		{% for member in members %}
					<input type= "checkbox" name = "member_list" value = {{member.id}}> {{member}} <br>
				{% endfor %}
				<input type="submit" value = "Create">
	  		</form>
		{% else %}
			<h2> Please register/login! </h2>
		{% endif %}
	</div>

    </body>
</html>