<!DOCTYPE html>

<html>
    {% include 'allocator/base.html' %}

    <body>

	<div>
		{% if user.is_authenticated %}
			<h3>Select Project to edit or delete</h3>
			{% for project in project_list %}
			<ul>
			    <li><a href="/allocator/edit/{{project.project_id}}">{{project}}</a></li>
                 
                	<form method = "POST" action = "/allocator/editproject/">
                	{% csrf_token %}
                	<input type="submit" value = "Delete Project">
	  		    	<input type="hidden" name = "uid" value = {{user.id}}>
                    <input type="hidden" name = "rid" value = {{project.project_id}}>
                     <input type="hidden" name="project_id" value = "#">
	            	</form>
			</ul>
  			{% endfor %}
		{% else %}
			<h2> Please register/login! </h2>
		{% endif %}
	</div>

    </body>
</html>
