<!DOCTYPE html>

<html>
    {% include 'allocator/base.html' %}

    <body>

	<div>
		{% if user.is_authenticated %}
			<h3>Edit Project</h3>
  			<form method = "POST" action = "/allocator/editproject/">
  				{% csrf_token %}
	    		Project Name<input type="text" name="projectname" value = ""required><br>
	    		Project Logo<input type="text" name="project_logo" value = ""required><br>
	    		Description<input type="text" name="description" value = ""required><br>
	    		Category<input type="text" name="category" value = ""required><br>
	    		Skill Requirements<input type="text" name="skills_reqd" value = ""required><br>
	    		Educational Requirements<input type="text" name="edu_background_reqd" value = ""required><br>
	    		Payment<input type="text" name="payment" value = ""required><br>
	    		<input type='hidden' name="project_id" value = {{project_id}} >
	    		<input type="submit" value = "Edit">
	  		</form>
		{% else %}
			<h2> Please register/login! </h2>
		{% endif %}
	</div>

    </body>
</html>
