<!DOCTYPE html>
<html>
    {% include 'allocator/base.html' %}
    <body>
        {% if registered %}
          <strong>Thank you for registering!</strong>
          <a href="/allocator/login/">Return to the homepage.</a><br />
        
        {% else %}
          <div >
              <h2 class="form-signin-heading">Sign Up</h2>
              <br>
              <form  id="user_form" method="post" action="/allocator/register/"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% load bootstrap %} 

                <table>
                  <tr>
                     
                      <td>{{ user_form.username | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>
                     
                      <td>{{ user_form.email | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>
                     
                      <td>{{ user_form.password | bootstrap_horizontal}}</td>
                  </tr>
                  <tr>
                    <td>Firstname <br> <input type="text" name = "firstname"> </td>
                  </tr>

                  <tr>
                    <td>Second Name <br> <input type="text" name = "secondname"> </td>
                  </tr>

                  <tr>
                    <td>Date of birth <br> <input type="date" name = "dateofbirth"> </td>
                  </tr>
                  
                  <tr>
                    <td>Skills <br> <input type = "text" name = "skills"></td>
                  </tr> 

                  <tr>
                    <td>Educational Background<br> <input type = "text" name = "edu_background"></td>
                  </tr>

                  <tr>
                    <td>Interests<br> <input type = "text" name = "interests"></td>
                  </tr>

                  <tr>
                    <td>Profile pic <br> <input type = "text" name = "pro_pic_location"></td>
                  </tr>


                </table>
                <button class="btn btn-lg btn-primary" type="submit">Register</button>
                <input type="hidden" name="submit" value="Register" />
              </form>
            </div>
          {% endif %}
    </body>
</html>

